body{
    background-color: #fcf8f8;
}
#contenedor{
    background-color: #080808;
    border: 5px double #000000;
    padding: 20px;
}


#izquierda{
    height:50%;
    background-color:#BDD2EF;
    float:left;
    width:50%;
}

h1{
    
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border: 10px ridge  #000000 ;
    color: #000000;
}

h2{
    color: #000000;
    border: 10px double #a548f7;

}

.boton{
    background-color:  #48d7f7;
    height: 8%;
    width: 12%;
    font-weight: bold;
}
.Mostrar{
    background-color:  #48d7f7;
    height: 8%;
    width: 12%;
    font-weight: bold;
}
/* https://devxdev.net/css/negritas-css/ */